h2 a{
    text-decoration: none;
    color: rgb(215, 49, 3);
}
h1 span{
    color: rgb(149, 111, 31);
}
#pets{
    display: flex;
    justify-content: space-evenly;
}
.card{
    width: 400px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}
img{
    width: 100%;
    border-radius: 20px;
}
h4{
    text-align: right;
    color: #3c787e;
}
@media (max-width: 376px) {
    #pets{
        flex-wrap: wrap;
    }
}
